.ui-button {
  background-color: initial;
  background-image: linear-gradient(-180deg, #122738, #39113e);
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
  color: #f5f5de;
  cursor: pointer;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  outline: 0;
  overflow: hidden;
  padding: 0 20px;
  pointer-events: auto;
  position: relative;
  text-align: center;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: top;
  white-space: nowrap;
  width: 50%;
  z-index: 9;
  border: 0;
  transition: box-shadow 0.2s;
  width: 11em;
}

.ui-button:hover {
  box-shadow: #d451b6 0 3px 8px;
}

ul.shoppingListItems {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px;
}

li.addedShoppingItem {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}
