.duplicateContainer {
  display: flex;
  flex-direction: column;
}

hr {
  color: black;
  background: black;
  width: 100%;
}

.addItem {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.addItem h2 {
  margin-right: 0.5em;
}
