img.basketIcon {
  width: 20px;
}

button.basket {
  border: none;
  display: inline;
  padding: 0px;
  margin: 2px 20px;
  transition: transform 2s;
}

button.basket:hover {
  transform: rotate(359deg);
  transition: transform 2s;
}
