@import url("https://fonts.googleapis.com/css2?family=Arapey:wght@400&display=swap");

body {
  margin: 0;
  font-family: "Arapey", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("./assets/images/pattern_with_eye.jpg");
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
