section {
  display: grid;
  padding: 1em 0em;
}

section.shoppingListSection li {
  list-style: none;
}

.homePageComponents {
  display: grid;
  grid-template-columns: 45% 45%;
  grid-gap: 35px;
  align-items: center;
  justify-items: center;
  justify-content: center;
}
