button {
  background: transparent;
  border: none;
  padding: 0.5em;
  border: 1px solid black;
  border-radius: 10px;
  margin: 1em 2em;
  cursor: pointer;
  font-family: "Arapey", serif;
  font-size: 1em;
}

button.navButton {
  background: #f5f5de;
  padding: 0.5em 1em;
}

button.navButton a {
  text-decoration: none;
}

.headerButtons button:hover {
  background-color: #b1deb4;
  border: 1px solid #b1deb4;
  transition: 0.3s;
}
